body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    min-width: 320px;
    margin: 0
}
#table{
    text-align: center;
    border:3px solid;
    margin: 10px 5px 20px;
}

#table th{
    font-weight: normal;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}
#table th button{
    white-space: nowrap;
}
#table th div{
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;
}

#create-user, .add-wrapper{
    display: none;
    position: absolute;
    top: 10vh;
    padding: 15px 5vw 20px;
    background-color: #fff;
    width: 70vw;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    align-items: normal;
    max-width: 500px;
}
#create-user .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#create-user .heading span{
    font-size: 18px;
}
#close {
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
#close:hover {
  opacity: 1;
}
#close:before, #close:after {
  position: absolute;
  top: 0;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
#close:before {transform: rotate(45deg);}
#close:after {transform: rotate(-45deg);}
#create-user div{margin-bottom: 20px;}
#create-user span{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
#create-user input{
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #888;
}
.newUser{
  margin-bottom: 20px;
}
.add-wrapper {
    display: flex;
    font-size: 20px;
}
.close{
    background-image: url(https://st4.depositphotos.com/5847306/20690/v/1600/depositphotos_206909026-stock-illustration-red-tick-red-cross-tick.jpg);
    height: 30px;
    width: 30px;
    background-size: cover;
}

.add-info > span{
    background-color: #fff;
    margin-left: 10px;
}

.add-info :first-child{
    font-size: 25px;
    font-weight: bold;
}



